BOT_TOKEN=
ADMIN_CHAT_ID=1927811621
BOT_SECRET=a_shared_secret_between_bot_and_web
WEB_BASE_URL=https://pgsm.cards
BOT_DATA_DIR=/app/data
ENCRYPTED_SEED=GfB7SEu8pJ3fbUIppZGLPiVzxZ+kUSu9X/b1x/6j+2xf2HawLxsyy7yr3Icp+7Omgu21qvddrRPk7Jet7QRMIbg+d7w2jIdwKdZ/yc2juvAmVvHn5JKe8wWRLtMwEsx9Vbu8cxniJ4/RNj2gwUaMg5YR6YHQ4rA539eGy9aA2WU=
WALLET_PASSWORD=Savacak66Sozopol34*
ALCHEMY_API_KEY=uE4ggDphFy9Rdl-AJccpv
HELIUS_API_KEY=e831070c-7887-4c87-a187-c01ad95e3608
BLOCKCYPHER_TOKEN=7cb5513e2ed8485dbe774e55ebee0da1
TELEGRAM_API_ID=33249505
TELEGRAM_API_HASH=122d3a0206e06a1379d7fa81ca27bc87




